<div class="next">
    <div class="box">
      <img class="picture" src="pics/zoo.jpg" alt="Beetle" title="TopekaZoo.org/map"></img>
      <div class="text">
        <p><h3>Welcome to the Willamette River Zoo!</h3></p>
        <p>
         Spend the day exploring over 5.2 acres of parkland and visit our 8 main exhibits. Be transported to biomes all over the world and observe the behaviors of 28 different animals species within them. Watch the gyrfalcons soar in the Aviary and the caracals play in our newly remodeled Desert habitat. Keep your eyes peeled for prairie dogs to peak out of their burrows and see the gentle grace of bison in the Prairelands. Afterwards, you can cool off with the walruses in the Arctic Circle or even the sea otters in Coastal Waters. But no trip is complete without admiring the majestic lion pride in our Serengeti. </p>

        <p>Over 180 animals call our zoo home. How many will you spot on your next visit? </p>

      </div>
    </div>

  </div>